@import './variable.scss';
html {
  height: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  // overflow: hidden;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
a {
  color: inherit;
  text-decoration: none;
  color: #606266;
  &:hover {
    text-decoration: none;
    color: #409eff;
  }
}
body {
  height: 100%;
  font: 12px/1.5 Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, SimSun, sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}
div{
  box-sizing: border-box;
}

.clearfix:after{/*伪元素是行内元素 正常浏览器清除浮动方法*/
  content: "";
  display: block;
  height: 0;
  clear:both;
  visibility: hidden;
}
.clearfix{
  *zoom: 1;/*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}
.wrap_flex {
  display:flex;
  justify-content: space-between;
}
.wrap_flex_normal {
  display: flex;
  
}
.clear_border{
    border: 0; // 去除未选中状态边框
    outline: none; // 去除选中状态边框
}
.wrap_flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
} 

.div_focus_one{
  background-color: $sky-blue;
    outline: none;
    border-radius: 0.25rem;
}


