$bg-gary: #f2f6fc;
$sky-blue:#409EFF;
$white: #ffffff;

%width-height {
  width: 100%;
  height: 100%;
}

%div-focus-one {
    background-color: $sky-blue;
    outline: none;
    border-radius: 0.25rem;

}


// 按钮button
%fix_el_button {
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #ffffff;
  width: 6.25rem;
  height: 2rem;
  line-height: 0;
  border-radius: 0.375rem;
}

// el_select 样式修改      select 上需要加上属性  :popper-append-to-body="false"
// @import '...该文件'
// 使用: @include 属性名(参数);

@mixin for_el_select($wid,$hei) {
  .el-select {
    width: $wid;
    height: $hei;
    .el-input__inner {
      height: $hei;
      line-height: $hei
    }
  }
  .el-select .el-input .el-select__caret {
    line-height: $hei;
  }

  .el-popper {
    margin-top: 0;
    .popper__arrow {
      display: none;
    }
    .poper_arrow::after {
      display: none;
    }
  }

  .el-select-dropdown__list {
    padding: 0;
  }
  
}