$bg-gary: #f2f6fc;
$sky-blue:#409EFF;
$white: #ffffff;

%width-height {
  width: 100%;
  height: 100%;
}

%div-focus-one {
    background-color: $sky-blue;
    outline: none;
    border-radius: 0.25rem;

}